@model dynamic

@{
    ViewBag.Title = "Create New User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create New User</h2>
<p>User Name: </p>
@using (@Html.BeginForm("Save", "Users", FormMethod.Post))
{
    <input type="text" name="userName" id="userName" value="@ViewBag.UserName" />
    <p>Goal</p>
    <input type="text" name="goal" id="goal" value="@ViewBag.Goal" />
    <input type="hidden" name="userId" value="@ViewBag.UserId" />
    <input type="submit" value="Save" />
}